body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #89adfa; 
    text-align: center;
}

h1, h2 {
    color: #3b0bca;
}

#header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}

#content {
    margin: 20px;
}

#footer {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#tableauViz {
    margin-top: 20px;
    text-align: center; 
}

.tableauPlaceholder {
    position: relative;
}

.tableauViz {
    display: none;
}

/* New styles for Resume section */
#resume {
    margin-top: 40px;
}

#resume h3 {
    color: #3b0bca;
    margin-top: 20px;
}

#resume p, #resume ul {
    margin-bottom: 15px;
}

#resume ul {
    list-style-type: none;
    padding-left: 0;
}

#resume ul li {
    margin-left: 20px;
    text-align: left;
}

